* {
    box-sizing: border-box;
    letter-spacing: 1px;
}

:root {
    --cor-de-fundo:#efe8d8 ;
    --cor-de-fundo-box:#809671;
    --cor-do-link: #725c3a;
}

body {
    background-color: var(--cor-de-fundo);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Cabeçalho -------------------------------*/
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 25% 3px;
    background-color: var(--cor-de-fundo-box);
    max-width: 100vw;
    white-space: nowrap;
}

.cabecalho__titulo {
    color: #f1dfc2
}

/* ------------------------------ Seção principal do site -------------------------------*/

/* Container principal (Cardápio e Formulário) */
main {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.product-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    max-width: 800px;
    text-align: center;
    margin-bottom: 1rem
}
.cardapio__titulo{
    font-size: 23px;
    color: #805e33;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: hidden;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.produto-card {
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #809671; 
    padding: 8px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 170px; 
    height: 200px;
}

.produto-card img {
    width:100%;
    height: 130px;
    object-fit: cover;/* Ajusta a imagem sem distorções */
    border-radius: 8px;
    
}

.produto-card h2{
    font-size: 0.85rem; 
    margin: 5px 0;
    color: #f1dfc2 ;
    white-space: nowrap; /*faz com que o texto não quebre*/
    text-align: left;
}

.produto-card p{
    color: #f1dfc2;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 3px 0;
}

.produto-card .delete-btn {
    position: absolute;
    top: 10px; 
    left: 8px; 
    background: transparent; 
    border: none; 
    font-size: 1.2rem; 
    cursor: pointer; 
    color: #acacac;
}

.produto-card .delete-btn:hover {/* Animação ao passar o mouse por cima */
    color: #ad0909; 
    transform: scale(1.1); 
}

/* ------------------------------ Seção Adicionar Produto ------------------------------- */
.add-product-section {
    max-width: 400px; 
    background-color: #efe8d8; 
    border: 2px solid #809671; 
    padding: 0 1rem 1rem;
    margin-top: 5rem;
    margin-right: 13rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.add-product-title {
    font-size: 1.5rem;
    color: #805e33;
    margin-bottom: 1rem;
}

.add-product-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #809671;
    border-radius: 5px;
    outline: none;
    background-color: #fff; 
}

.form-group input::placeholder {
    color: #805e33;
}

.form-group input:focus {
    border-color: #687d5a;
    box-shadow: 0 0 5px rgba(128, 150, 113, 0.5);
}

/* Botões estilizados */
.form-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-submit, .btn-clear {
    padding: 0.5rem 1rem;
    border: 2px solid #809671;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #809671;
    color: #fff;
}

.btn-clear {
    background-color: #fff;
    color: #809671;
}

.btn-submit:hover {
    background-color: #687d5a;
}

.btn-clear:hover {
    background-color: #f0f0f0;
}

/* ------------------------------ Responsividade ------------------------------- */
/* Responsividade para telas médias */
@media (max-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
        gap: 15px; 
    }
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    main {
        flex-direction: column; 
        align-items: center;
    }

    .add-product-section {
        order: 1;
        margin: 0 auto 2rem;
        width: 90%; 
    }

    .product-section {
        order: 2;
        width: 100%; 
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}
/* ------------------------------ Seção Rodapé -------------------------------*/

footer{
    width: 100%;
    color: #f1dfc2;
}

#footer_content {
    background-color: var(--cor-de-fundo-box);
    display:flex;
    flex-direction: column;
    text-align: center;
}

#footer_content h1 {
    font-size: 1.5rem;
    margin-bottom:0;
}

#footer_content p{
    font-size: 13px ;
    margin-top: 0.5rem;
}

#footer_social_media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    font-size: 20px;
}

#footer_social_media i:hover {
    color: #e5e0d8; 
    transform: scale(1.2);
    transition: 0.3s;
}