* {
    box-sizing: border-box;
    letter-spacing: 1px;
}

:root {
    --cor-de-fundo:#efe8d8 ;
    --cor-de-fundo-box:#809671;
    --cor-do-link: #725c3a;
}

body {
    background-color: var(--cor-de-fundo);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* ------------------------------ Seção Cabeçalho -------------------------------*/
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 25% 3px;
    background-color: var(--cor-de-fundo-box);
    max-width: 100vw;
    white-space: nowrap;
}

.cabecalho__titulo {
    color: #f1dfc2
}

/* ------------------------------ Seção principal do site -------------------------------*/
.product-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    max-width: 800px;
    text-align: center;
}
.cardapio__titulo{
    font-size: 23px;
    color: #805e33;
}

.product-container{
    display:grid ;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    max-height: 400px; /* altura máxima do cardápio */
    overflow-y: auto; /* scroll vertical */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 5rem;
}

.produto-card {  /* fundo da imagem do produto */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #809671; 
    padding: 8px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width:170px; 
    height: 200px;
    position: relative;
}

.produto-card img {
    width:100%;
    height: 130px; /* Altura menor para imagens */
    object-fit: cover;/* Ajusta a imagem sem distorções */
    border-radius: 8px;
    
}

.produto-card h2{
    font-size: 0.85rem; 
    margin: 5px 0;
    color: #f1dfc2 ;
    white-space: nowrap; /*faz com que o texto não quebre*/
    text-align: left;
}

.produto-card p{
    color: #f1dfc2;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 3px 0;
}

.produto-card button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: #aaaaaa;
    margin-top: 5px;
    position: absolute;
    right: 10px; 
    top: 10px;

}
/* ------------------------------ Seção Rodapé -------------------------------*/

footer{
    width: 100%;
    color: #f1dfc2;
}

#footer_content {
    background-color: var(--cor-de-fundo-box);
    display:flex;
    flex-direction: column;
    text-align: center;
}

#footer_content h1 {
    font-size: 1.5rem;
    margin-bottom:0;
}

#footer_content p{
    font-size: 13px ;
    margin-top: 0.5rem;
}

#footer_social_media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    font-size: 20px;
}

#footer_social_media i:hover {
    color: #e5e0d8; 
    transform: scale(1.2);
    transition: 0.3s;
}